@font-face {
    font-family: 'SAO';
    src: url('./fonts/SAOUITT-Regular.ttf');
}

.collapse {
    position: absolute;
    left: -20px;
    top: 20px;
    align-self: self-end;
    height: 50%;
    width: 20px;
    background-color: rgba(135, 162, 255, 0.75);
    border-radius: 20px 0 0 20px;
    cursor: pointer;
}

.translator {
    background-color: rgba(0, 0, 0, 0.125);
    position: fixed;
    right: 0;
    bottom: 0;
    transition: 1s;
    width: var(--width);
    height: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 10px 0 0 0;
}

.translator>div:not(.collapse) {
    background-color: rgba(255, 215, 196, 0.5);
    display: flex;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.translator>div>div {
    padding: 10px;
    cursor: pointer;
    font-family: 'SAO';
    flex: 1;
    text-align: center;
    user-select: none;
    text-wrap: nowrap;
}

.translator #clear-button {
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.translator textarea {
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
    scrollbar-width: none;
    flex: 1;
    padding: 10px;
    font-weight: bold;
}

.translator textarea:not(#translate) {
    background-color: rgba(196, 215, 255, 0.5);
    border-radius: 10px 0 0 0;
}

#translate {
    background-color: rgba(255, 244, 181, 0.5);
    border-bottom: none;
}

.hidden-translator {
    width: 0;
    border-radius: 0px;
}

.no-transition {
    transition: none;
}