@font-face {
    font-family: 'SAO';
    src: url('./fonts/SAOUITT-Regular.ttf');
}

:root {
    --scrollbar-width: 17px;
    --toolbar-height: 56px;
}

@media (max-width: 768px) {
    :root {
        --scrollbar-width: 0;
        --toolbar-height: 32px;
    }
}
@media (min-width: 768px) {
    textarea {
        font-size: 18px;
    }
}

.collapse {
    position: absolute;
    left: -20px;
    top: 20px;
    align-self: self-end;
    height: 50%;
    width: 20px;
    background-color: rgba(135, 162, 255, 0.75);
    border-radius: 20px 0 0 20px;
    cursor: pointer;
    transition: 1s;
}

.opaque .collapse {
    background-color: rgba(135, 162, 255);
}

.translator {
    background-color: rgba(0, 0, 0, 0.125);
    position: fixed;
    right: var(--scrollbar-width);
    bottom: 0;
    transition: 1s;
    width: var(--width);
    height: calc(100% - var(--toolbar-height));
    display: flex;
    flex-direction: column;
    border-radius: 10px 0 0 0;
}

.opaque {
    background-color: rgba(0, 0, 0, 0);
}

.translator>div:not(.collapse) {
    background-color: rgba(255, 215, 196, 0.5);
    display: flex;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    overflow: clip;
    transition: 1s;
}

.opaque>div:not(.collapse) {
    background-color: rgb(255, 215, 196);
}

.translator>div>div {
    padding: 10px;
    cursor: pointer;
    font-family: 'SAO';
    flex: 1;
    text-align: center;
    user-select: none;
    text-wrap: nowrap;
}

.translator #clear-button {
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.translator textarea {
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
    scrollbar-width: none;
    flex: 1;
    padding: 10px;
    font-weight: bold;
    transition: 1s;
}

.translator textarea:not(#translate) {
    background-color: rgba(196, 215, 255, 0.5);
    border-radius: 10px 0 0 0;
    transition: 1s;
}

.opaque textarea:not(#translate) {
    background-color: rgb(196, 215, 255);
}

#translate {
    background-color: rgba(255, 244, 181, 0.5);
    border-bottom: none;
    transition: 1s;
}

.opaque #translate {
    background-color: rgb(255, 244, 181);
}

.hidden-translator {
    width: 0;
    border-radius: 0px;
}

.hidden-translator textarea {
    padding: 0;
}

.no-transition {
    transition: none;
}